{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip a Coin</title>
    <link rel="icon" type="image/x-icon" href="{% static 'game/img/favicon.ico' %}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="stats">
            <p id="heads-count">Face : {{ heads_count }}</p>
            <p id="tails-count">Pile : {{ tails_count }}</p>
        </div>
        <div class="coin" id="coin">
            <div class="heads">
                <img src="{% static 'game/img/heads.svg' %}" alt="">
            </div>
            <div class="tails">
                <img src="{% static 'game/img/tails.svg' %}" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="flip-button">Tourner</button>
            <button id="reset-button">Remise à zéro</button>
        </div>
    </div>
    <!-- Script -->
    <script src="{% static 'game/js/script.js' %}"></script>
</body>
</html>
