{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip a Coin</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="stats">
            <p id="heads-count">Face : 0</p>
            <p id="tails-count">Pile : 0</p>
        </div>
        <div class="coin" id="coin">
            <div class="heads">
                <img src="heads.svg" alt="">
            </div>
            <div class="tails">
                <img src="tails.svg" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="flip-button">Tourner</button>
            <button id="reset-button">Remise à zéro</button>
        </div>
    </div>
    <!-- Script -->
    <!-- <script src="script.js"></script> -->
</body>
</html>